name: CI

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip

      - name: Install project
        run: |
              python -m pip install --upgrade pip
              pip install -e .[dev]
              pip install pip-audit

      - name: Lint
        run: ruff check .

      - name: Security scan (bandit)
        run: bandit -r src -ll

      - name: Dependency security audit
        run: |
          pip-audit

      - name: Tests
        run: pytest

      - name: Trivy FS scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: fs
          severity: CRITICAL,HIGH
          exit-code: 0
